<div class="form-group">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="checkbox"> 
      <label>
        <input type="checkbox" name="card[items][]" value="<%=item%>">
        <%=item%>
      </label>
    </div>
  </div>
</div>