<div class="board-new-form row">
<h4>Create a new Board</h4>

<form class="form-horizontal input-append form control col-xs-10 col-xs-offset-4 new-board-form" role="form">
    <input type="text" name="board[title]" id="new-board-title" placeholder="Board title...">
  <button type="submit" class="btn btn-success" role="button"> + </button>

</form>
<div>
