
<h4>Add a new List to this Board</h4>

<div class="new-list-form row">

  <form class="form-horizontal input-append" role="form">
      <input type="text"
             name="list[title]"
             id="card-input-title"
             placeholder="List title...">
      <button type="submit"
              class="btn btn-success"
              id="add-list-button"
              role="button"> + </button>
  </form>
</div>
