<div class="footer">
  <div class="footer-content">
    <div class="col-xs-2 col-xs-offset-4">
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Terms and Conditions</a></p>
        <p><a href=""> @ Copyright Policy</a></p>
    </div>
    <div class="col-xs-2">
        <p><a href="">Home</a></p>
        <p><a href="">About</a></p>
        <p><a href="">Contact</a></p>
    </div>
    <div class="col-xs-2">
        <p><a href="">Press</a></p>
        <p><a href="">Blog</a></p>
        <p><a href="">Invite a Friend</a></p>
    </div>

    <div class="social-media">
        <p>Follow Us!</p>
          <span><i class= "fa fa-twitter-square"></i></span>
          <span><i class= "fa fa-facebook-square"></i></span>
          <i class= "fa fa-google-plus-square"></i>
          <i class= "fa fa-google-plus-square"></i>
          <i class= "fa fa-github-square"></i>
          <i class= "fa fa-pinterest-square"></i>
          <i class= "fa fa-linkedin-square"></i>
          <i class= "fa fa-tumblr-square"></i>

        </ul>
    </div>
  </div>
</div>
